@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
* {
  font-family: 'RocknRoll One', sans-serif;
}
:root{
  --primecolor : #28c681 ;
}
html {
  scroll-behavior: smooth;
}
.nav-link {
  color: white;
}
.nav-link {
  background-color: transparent;
  border: none;
  outline: none;
}
button, nav{
  background-color: var(--primecolor) !important;
}
.nav-link:hover {
  color: black;
  border: none;
}
.nav {
  position: relative;
  right: 0;
}
.collapse {
  display: flex;
  justify-content: flex-end;
} 
.copyrights{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.mainCard {
  border: 10px solid red;
}
#printBill {
  font-family: 'RocknRoll One', sans-serif;
}
.itemCount{
  border: 1px solid var(--primecolor);
  background-color: #28c68149;
  border-radius: 5px;
}
.d-none{
  display: none !important;
}
.d-hid{
  visibility: hidden !important;
}
